/* .bloqueiClick{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.692);
    width: 100vw;
    height: 100vh;
} */

/*CONTAINER*/
.ceu {
    width: 100%;
    height: 20vh;
    background: linear-gradient(180deg, #8AD5FF 0%, rgba(255, 255, 255, 0) 92.2%), #FFE86D;
}
.container{
    position: relative;
    width: 100%;
    height: 80vh;
    top: 0px;
    z-index: 10;

    background: #339966;
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 92%;
    height: 100%;
    max-width: 1092.8px;
    max-height: 525px;
    margin: 0 auto;
    z-index: 1;
}
/*OUTROS*/
.lagoa{
    width: 50%;
    left: 8%;
    position: absolute;
    z-index: 1;
}
.tanqueReacao{
    position: absolute;
    top: 23%;
    left: 54.1%;
    width: 26%;
    z-index: 1;
}
.filtro{
    position: absolute;
    padding-top: 25.6%;
    width: 8.8%;
    /* top: 53%; */
    left: 54.5%;
    z-index: 2;
}
.filtro img{
    width: 100%;
}
.caixaAgua{
    position: absolute;
    top: -28.9%;
    left: 83.4%;
    width: 18%;
    z-index: 1;
}
/*BACIAS*/
.bacia1{
    position: absolute;
    top: 32%;
    left: 21%;
    width: 18%;
    z-index: 4;
}
.bacia2{
    position: absolute;
    top: 54%;
    left: 12%;
    width: 36%;
    z-index: 1;
}
/*CANOS*/
.cano1{
    position: absolute;
    top: -8%;
    left: 6.1%;
    width: 16%;
    z-index: 0;
    pointer-events: none;
}
.cano2{
    position: absolute;
    width: 18%;
    top: 36.2%;
    left: 38%;
    z-index: 0;
    pointer-events: none;
}
.cano3{
    position: absolute;
    top: 32%;
    left: 6.1%;
    width: 78%;
    z-index: 0;
    pointer-events: none;
}
.cano4{
    position: absolute;
    top: 55%;
    left: 40%;
    width: 21%;
    z-index: 0;
    pointer-events: none;
}
.cano5{
    position: absolute;
    top: -24.4%;
    left: 6.1%;
    width: 87%;
    z-index: 0;
    pointer-events: none;
}
/*BALOES*/
.balao{    
    position: absolute;
    padding-top: 40.3%;
    /* top: 85%;*/
    left: 14%;
    width: 38%;
    z-index: 2;
}
.balao1{
    position: absolute;
    top: 23%;
    left: 14%;
    width: 10%;
    z-index: 3;
}
.balao2{
    position: absolute;
    left: 80%;
    top: 11%;
    width: 8%;
    z-index: 2;
    
}
.balao3{
    position: absolute;
    left: 80%;
    top: 18%;
    width: 8%;
    z-index: 2;
}
.balao2 img, .balao3 img{
    border-radius: 15px;
}
.balao img, .balao1 img, .balao2 img, .balao3 img{
    width: 100%;
}
/*TUB*/
.tub2{
    position: absolute;
    top: 13%;
    left: 60%;
    width: 21%;
    z-index: 1;
}
.tub3{
    position: absolute;
    top: 20%;
    left: 69%;
    width: 13%;
    z-index: 1;
}
/*ANIMAÇÃO*/
.ativo{
    animation: neon 1.5s ease-in-out infinite alternate;
}
/*  Glow  */
@keyframes neon {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    to {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}