#ceu {
    width: 100%;
    height: 20vh;

    background: linear-gradient(180deg, #8AD5FF 0%, rgba(255, 255, 255, 0) 92.2%), #FFE86D;
}
#container{
    position: relative;
    width: 100%;
    height: 80vh;
    top: 0px;

    background: #339966;
}