#ceu {
    width: 100%;
    height: 20vh;

    background: linear-gradient(180deg, #8AD5FF 0%, rgba(255, 255, 255, 0) 92.2%), #FFE86D;
}
#container{
    position: relative;
    width: 100%;
    height: 80vh;
    top: 0px;
    z-index: 10;

    background: #339966;
}
.lagoa{
    margin-left: 10vh;
}
.bacia1{
    position: absolute;
    top: 25vh;
    left: 20vh;
}
#cano1{
    position: absolute;
    top: -7vh;
    left: 5vh;
    z-index: -1;
}